{% load staticfiles %}
<html lang="en">
<head>
    <title>dailywalk</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="{% static "css/home.css" %}" rel="stylesheet"/>
</head>
<body>
<div class="page-header">
    <a href="{% url "blog_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Daily Walk Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>